<div class="container">
  <div style="display: flex;">
    <div class="events">
      <mat-card>
        <mat-card-title>
          Plane deinen Tag!
        </mat-card-title>

        <mat-tab-group [animationDuration]="0">
          <mat-tab label="Treffen">
            <app-event-list [events]="essen_events"></app-event-list>
          </mat-tab>
          <mat-tab label="Sport">
            <app-event-list [events]="essen_events"></app-event-list>
          </mat-tab>
          <mat-tab label="Unterhaltung">
            <app-event-list [events]="essen_events"></app-event-list>
          </mat-tab>
          <mat-tab label="Achtsamkeit">
            <app-event-list [events]="essen_events"></app-event-list>
          </mat-tab>
          <mat-tab label="Andere">
            <app-event-list [events]="essen_events"></app-event-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

    <div class="plan">
      <mat-card>
        <app-plan [events]="my_events"></app-plan>
      </mat-card>
    </div>
  </div>
</div>
