<nav>
  <div class="nav-container">
    <div class="logo-area">
      <button mat-button routerLink="/" class="logo-img">
        <img class="logo" src="../assets/gse.jpg" alt="logo" />
      </button>
    </div>

    <div class="headline">gemeinsam statt einsam</div>

    <button style="float: right;" mat-button routerLink="/imprint">
      Impressum
    </button>
    <button style="float: right;" mat-button routerLink="/about">
      Mehr Infos
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
